@using iSpendWebApp.Models.Account

@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="text-center">Dashboard</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <canvas id="CategoryChart" style="height: 300px;">
                </canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <canvas id="AccountBalanceChart" style="height: 300px;">
                </canvas>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well">
                <canvas id="TotalBalanceChart">

                </canvas>
            </div>
        </div>
    </div>
</div>


@* Category Chart *@
<script>
   
    var categories = @Html.Raw(ViewBag.Categories);
    var categoriesCosts = @Html.Raw(ViewBag.CategoriesCosts);

    var data = {
        labels: ["Avg inc/exp per category"],
       
    };

    var ctx = $("#CategoryChart").get(0).getContext("2d");
    var myBarChart = new Chart(ctx, {
        type: "bar",
        data: data,
        options: {  
            responsive: true,
            maintainAspectRatio: false
        }
    });

    var dataSetValue = [];
    for (var j = 0; j < categories.length; j++) {
        dataSetValue[j] = 
        {
            label: categories[j],
            backgroundColor: getRandomColor(),
            borderColor: getRandomColor(),
            borderWidth: 1,
            data: [categoriesCosts[j]]
        }
        data.datasets.push(dataSetValue[j]);
        myBarChart.update();
    }    

    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>
 
@* Total balance chart *@
<script>
    var ctx = document.getElementById('TotalBalanceChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(ViewBag.TimeStamps),
            datasets: [
                {
                    label: 'Account balance',
                    data: @Html.Raw(ViewBag.AccountBalance),
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderWidth: 1
                }
            ]
        },
        options: {
            
        }
        
    });
</script>

@* Account Chart *@
<script>
    var ctx = $("#AccountBalanceChart").get(0).getContext("2d");
    var myPieChart = new Chart(ctx,
        {
            type: 'pie',
            data: {
                labels: @Html.Raw(ViewBag.Accounts),
                datasets: [
                    {
                        label: 'Account balance',
                        data: @Html.Raw(ViewBag.BalancePerAccount),
                        borderWidth: 1,
                        backgroundColor: [ 'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(0, 163, 51)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                            'rgb(0,0,255)']
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

    function GetBackgroundColors() {
        var colors = ['rgb(' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + ')'];
        for (var i = 0; i < data.length-1; i++) {
            colors.push('rgb(' +
                Math.round(Math.random() * 255) +
                ',' +
                Math.round(Math.random() * 255) +
                ',' +
                Math.round(Math.random() * 255) +
                ',' +
                ')');
        }
        return colors;
    }

</script>