@model iSpendWebApp.Models.Savings.SavingsViewModel
@{
    List<string> imageNames = ViewBag.FileProvider;
    var count = 0;
}

<div class="row">
    <div class="col-md-4">
        <h4>Edit Saving</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(userId => Model.UserId)
            @Html.HiddenFor(savingsId => Model.SavingId)
            @Html.HiddenFor(savingCurrentAmount => Model.SavingCurrentAmount)
            <div class="form-group">
                <label asp-for="SavingName" class="control-label"></label>
                <input asp-for="SavingName" class="form-control" />
                <span asp-validation-for="SavingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalDate" class="control-label"></label>
                <div class="input-group date" id="datetimepicker2">
                    <input asp-for="GoalDate" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <p>Preview:</p>
                </div>
                <div class="col-xs-3">
                    <div id="ImgDisplay" class="panel-default"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label asp-for="IconId" class="control-label"></label>
                        <select asp-for="IconId" class="form-control" id="IdMenu">
                            @foreach (var icon in imageNames)
                            {
                                var imageName = imageNames[count].TrimEnd('.');
                                var imagePath = Url.Content("~/Icons/Savings/" + icon);
                                <option value="@count" title="@imagePath">@imageName</option>
                                count++;
                            }
                        </select>
                    </div>
                    <span asp-validation-for="IconId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SavingsGoalAmount" class="control-label"></label>
                <input asp-for="SavingsGoalAmount" class="form-control" />
                <span asp-validation-for="SavingsGoalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $("#IdMenu").on('change', function () {
        $('#ImgDisplay').empty();
        $('#ImgDisplay').append('<img src="' + $(this).find('option:selected').attr('title') + '" />');
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'nl',
            minDate: moment()
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            locale: 'nl',
            minDate: moment()
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>