
@using iSpendInterfaces.Helpers
@using iSpendWebApp.Models.Savings
@model iSpendWebApp.Models.Savings.SavingsViewModel

@{
    ViewData["Title"] = "SavingDetails";
    var percentage = Math.Round((Model.SavingCurrentAmount / Model.SavingsGoalAmount) * 100);
}

@*Modal RemoveSaving*@
<div class="modal fade" id="DeleteSavingModal" tabindex="-1" role="dialog" aria-labelledby="AddReservationModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Reserve Money</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Views/Savings/DeleteSavingPartial.cshtml" model="@new SavingsViewModel(){SavingId = Model.SavingId}" />
            </div>
        </div>
    </div>
</div>

@*Model AddReservation*@
<div class="modal fade" id="AddReservationModal" tabindex="-1" role="dialog" aria-labelledby="AddReservationModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Reserve Money</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Views/Savings/CreateReservationPartialSaving.cshtml" model="@new ReservationViewModel(){SavingsId = Model.SavingId}" />
            </div>
        </div>
    </div>
</div>

@*Model AddReservation*@
<div class="modal fade" id="EditSavingModal" tabindex="-1" role="dialog" aria-labelledby="AddReservationModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Edit Saving</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="~/Views/Savings/EditSavingPartial.cshtml" model="@new SavingsViewModel(){SavingId = @Model.SavingId, UserId = @Model.UserId, SavingName = @Model.SavingName, SavingCurrentAmount = @Model.SavingCurrentAmount, SavingsGoalAmount = @Model.SavingsGoalAmount, GoalDate = @Model.GoalDate, IconId = @Model.IconId}" />
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 2rem" class="jumbotron">
    <img style="margin-top:2rem" class="center-block" src="~/Icons/Savings/Goal.png" alt="" />
    <h2 class="text-center"> @Html.DisplayFor(model => model.SavingName)</h2>
    <div class="center-block">
        @if (Model.State == SavingState.Completed)
        {
            <input type="button" class="btn btn-success" value="Complete" onclick="location.href = @Url.Action("CompleteSaving","Savings",new {id = Model.SavingId})" />
        }
        else
        {
            <p class="text-center">€ @Html.DisplayFor(model => model.SavingCurrentAmount) of € @Html.DisplayFor(model => model.SavingsGoalAmount)</p><br />
            <div class="ldBar label-center" style="width:80%;height:9rem;margin:auto" id="progress" data-preset="line" data-value="@percentage" data-stroke="data:ldbar/res,gradient(0,1,#D2FF52,#91E842)"></div>
        }
    </div>
    <p class="text-center text-info">@{ var daysLeft = Math.Floor((Model.GoalDate - DateTime.Now).TotalDays);} You have @daysLeft day(s) left to complete your saving!</p>
</div>

<div class="row btn-group center-block">
    <!-- Button trigger modal AddReservation -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddReservationModal">Reserve Money</button>
    <!-- Button trigger modal EditSaving -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditSavingModal">Edit Saving</button>
    <!-- Button trigger modal DeleteSaving -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteSavingModal">
        Delete Saving
    </button>
</div>
<hr />
<div class=" container">
    <div class="row">
        <partial name="~/Views/Shared/Reservations.cshtml" model="@ViewBag.Reservations"/>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<script type="text/javascript" src="~/js/loading-bar.js"></script>