@model iSpendWebApp.Models.Transaction.TransactionsViewModel

@{
    ViewData["Title"] = "DeleteTransaction";
}

<h2>DeleteTransaction</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransactionsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IconId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IconId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
