@using iSpendInterfaces.Helpers
@model LandingPageViewModel

@{
    ViewData["Title"] = "BillOverview";
}

<h2>My Bills</h2>
<hr />
<div class="container">
    @if (Model.Accounts.Count == 0)
    {
        <div id="AlertBill" class="info alert-info alert-dismissible fade in">
            <a href="#AlertBill" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Quickly Get Started:</strong> To create your first account press the '+' icon!
        </div>
    }
    <row>

        @if (Model.Accounts != null)
        {
            foreach (var item in Model.Accounts)
            {
                <div class="col-sm-4 overviewCard" onclick="location.href = '@Url.Action("Index", "Transaction", new {id = item.AccountId})'">
                    <partial name="~/Views/Account/BillPartial.cshtml" model="@item" />
                </div>

            }
        }
        <div class="col-sm-4 overviewCard">
            <div align="Center">
                <div class=" panel panel-default" style="background-color: mediumseagreen; margin: 8px; font-weight: bold; color: white">
                    <div class="panel-body">
                        <div>
                            <input type="button" class="btn btn-default" value="+" onclick="location.href = '@Url.Action("Create", "Account")'" style="margin-top: 12%; margin-bottom: 13%; background-color: gray; color: white; font-weight: bold" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>
<hr />
<div class="container">
    <h2>My Saving Plans</h2>
    @if (Model.Savings.Count == 0)
    {
        <div id="AlertSaving" class="info alert-info alert-dismissible fade in">
            <a href="#AlertSaving" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Save money smarter:</strong> A saving plan is a smart and easy way to be more responsible with your money.
        </div>
    }
    <row>

        @if (Model.Savings != null)
        {
            foreach (var item in Model.Savings)
            {
                if (item.State == SavingState.Ongoing)
                {
                    <div class="col-sm-4 overviewCard" onclick="location.href = '@Url.Action("Details", "Savings", new {id = item.SavingId})'">
                        @{
                            <partial name="~/Views/Savings/SavingPartial.cshtml" for="@item" />
                        }
                    </div>
                }
                else if(item.State == SavingState.Completed)
                {
                    <div class="col-sm-4 overviewCard" onclick="location.href = '@Url.Action("CompleteSaving", "Savings", new {id = item.SavingId})'">
                        @{
                            <partial name="~/Views/Savings/SavingPartial.cshtml" for="@item" />
                        }
                    </div>
                }


            }
        }
        <div class="col-sm-4 overviewCard">
            <div align="Center">
                <div class=" panel panel-default" style="background-color: mediumslateblue; margin: 8px;">
                    <div class="panel-body">
                        <div>
                            <input type="button" class="btn btn-default" value="+" onclick="location.href = '@Url.Action("Create", "Savings")'" style="margin-top: 12%; margin-bottom: 13%; background-color: gray; color: white; font-weight: bold" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>